body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: bold;
  font-size: 1rem;
}

.container {
  min-height: 50vh;
  background-color: hsla(0, 0%, 0%, 0.05);
  position: relative;
  cursor: pointer;

  border-radius: 15px;
}

.container:after {
  content: 'click me';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  height: 2rem;
  width: 2rem;
  border-radius: 100px;
}
